@{
    string path = "~/imageSite/";
}

<h1>Liste des utilisateurs</h1>
<div class="row">
    @foreach (var pers in Model)
    {
        <div class="col-2">
            @if (pers.RoleUser == EnumRole.UtilisateurSimple)
            {
                path += "iconeUtilisateur.png";
                <img src=~/imageSite/iconeUtilisateur.png/>
            }
            @if (pers.RoleUser == EnumRole.Admin)
            {
                <img src=~/imageSite/iconeAdministrateur.png/>
            }
            
            <p>Prenom:@pers.Prenom</p>
            <p>Nom: @pers.Nom</p>
        </div>

    }
</div>


