<div class=" p-5 text-center bg-image img-fluid" style="
    background-image: url(/imageSite/imageFondElargieRapetissee.jpg);
    height: 700px;
    background-size:contain;
    background-repeat:no-repeat;
    ">
        <div class="d-flex justify-content-left align-items-left h-100 my-auto" id="headingAccueil">
            <div class="text-black" style="width: 35%; font-family: Georgia">
                <h1 class="mb-3 my-sm-3 my-md-3 my-lg-4 my-xl-4 my-xxl-5" style="font-size: 3em">Bienvenue sur Zooflix</h1>
                <div class="mb-3 mx-sm-2 mx-md-3 mx-lg-4 mx-xl-4 mx-xxl-5">
                    <p>
                        Ce site est en construction. Il a été créé dans le cadre du cours d'Applications Web I. 
                        Il a pour but de montrer des vidéos d'animaux dans le cadre d'activités humaines. 
                        Les services disponibles sont la consultation des vidéos et la gestion des vidéos favorites pour un utilisateur authentifié. 
                        Également, il est possible de consulter les utilisateurs du site pour un administrateur.
                    </p>
                    <br /><br />
                    <h4>Pour créer un compte, veuillez remplir le formulaire ci-bas:</h4>
                </div>
            </div>
        </div>
    </div>
</div>

