
<div class="backgroundImage">
    
    <div class="textBackgroundImage">
        <h1>Bonjour</h1>
        <p>Ce site est encore en construction</p>
        <p>Ce site a pour but de montrer des vidéos d'animaux de compagnie seulement</p>
        <p>Aucun service disponible maintenant le 22 mars 2023</p>
        <button>Créer un compte</button>
    </div>
</div>

