@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour</h1>
    <p>Ce site est encore en construction</p>
    <p>Ce site a pour but de montrer des vidéos d'animaux de compagnie seulement</p>
    <p>Aucun service disponible maintenant le 22 mars 2023</p>
    <button>Créer un compte</button>
</div>
