<div class=" p-5 text-center bg-image" style="
    background-image: url(/imageSite/imageFondElargie.jpg);
    height: 700px;
    ">
    <div class="mask" style="
        background-color: rgba(255, 255, 255, 0.2);
    ">
        <div class="d-flex justify-content-left align-items-left h-100 my-auto" id="headingAccueil">
            <div class="text-black">
                <h1 class="mb-3 my-sm-3 my-md-3 my-lg-4 my-xl-4 my-xxl-5">Bienvenue sur Zooflix</h1>
                <div class="mb-3 mx-sm-2 mx-md-3 mx-lg-4 mx-xl-4 mx-xxl-5">
                    <p>Ce site est en construction, il est créer dans le cadre du cours d'application web 1</p>
                    <p>Il a pour but de montrer des vidéos d'animaux dans le cadre d'activité humaine'</p>
                    <p>Les services disponible sont : la consultation des vidéos et la gestion de vidéos favorites pour un utilisateur authentifié</p>
                    <p>Également il est possible de consulter les utilisateurs du site pour un administrateur</p>
                    <p>Pour créer un compte veuillez remplir le formulaire ci-bas</p>
                </div>
            </div>
        </div>
    </div>
</div>

