html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


/*main {
    height:contain;
    background-image: url(/imageSite/imageFondElargie.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
}

.textBackgroundImage {
    min-height:600px;
}
  */  